<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= @user.errors.count%>From the error<%= @user.firstname if @user.firstname %><%= "User"  if @user.firstname.empty? %>Could not be registered.</h2>
		<ul>
		<% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
		<% end %>
		</ul>
	</div>
<% end %>
