<div id="main2">
  <div id="left">
    &nbsp
  </div>
  <div id="content">
    <div class="content-content">
      <hr>
      <h1>New Post</h1>
      <hr>
      <%= render 'form', post: @post %><br>
      <%= link_to 'Back', posts_path,class:'btn btn-primary' %>
    </div>
  <div id="right"></div>
  </div>
</div>
